body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: white;
}

/* Hide elements */
.hidden {
    display: none;
}

/* SPLASH SCREEN */
#splash {
    height: 100vh;
    background: #6A0DAD;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splash h1 {
    font-size: 38px;
    margin: 0;
    font-weight: 700;
}

#splash p {
    font-size: 16px;
    margin-top: 8px;
    color: #FF4081;
}

/* HOME SCREEN */
#home {
    padding: 20px;
}

.top-bar {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #6A0DAD;
}

.toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle button {
    background: #F5F5F5;
    border: none;
    padding: 8px 14px;
    margin: 0 5px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    color: #333;
}

.toggle .active {
    background: #6A0DAD;
    color: white;
}

/* CATEGORY GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
}

.category {
    background: #DCC6E0;
    padding: 20px;
    border-radius: 14px;
    text-align: center;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: 0.2s;
}

.category:hover {
    transform: scale(1.03);
}
