@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Noto+Nastaliq+Urdu:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121418;
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Specific class for Urdu text */
.font-urdu {
  font-family: 'Noto Nastaliq Urdu', serif;
  line-height: 1.8; /* Urdu needs more height */
}